<h2>Formulario y validaciones</h2>

<div class="card">
    <div class="card-body">
        <form (ngSubmit)="procesar()" #formContact="ngForm">
            <div class="mb-2">
                <label for="" class="form-label">
                    Nombre:
                </label>

                <input type="text" name="nombre" class="form-control" placeholder="Ingresar nombre"
                    [(ngModel)]="persona.nombre" required #name="ngModel">

                <div class="alert alert-danger mt-3" [hidden]="name.valid || name.pristine">
                    El nombre es obligatorio
                </div>
            </div>

            <div class="mb-2">
                <label for="" class="form-label">
                    Edad:
                </label>

                <input type="number" name="edad" class="form-control" placeholder="Ingresar edad"
                    [(ngModel)]="persona.edad" required #edad="ngModel">

                <div class="alert alert-danger mt-3" [hidden]="edad.valid || edad.pristine">
                    La edad es obligatorio
                </div>


            </div>

            <button class="btn btn-primary mt-2" [disabled]="!formContact.valid">
                Enviar
            </button>
        </form>
    </div>
</div>

{{name.errors | json}}

<hr>