<h2>Formularios Reactivos</h2>

<div class="card">
    <div class="card-body">

        <form action="">

            <div class="mb-2">
                <label for="" class="form-label">
                    Nombre:
                </label>

                <input type="text" name="nombre" [formControl]="nombre" class="form-control"
                    placeholder="Ingresar nombre">

                <div class="alert alert-danger mt-3" [hidden]="nombre.valid || nombre.pristine">
                    El nombre es obligatorio
                </div>
            </div>
            <div class="mb-2">
                <label for="" class="form-label">
                    Email:
                </label>

                <input type="email" name="email" [formControl]="email" class="form-control"
                    placeholder="Ingresar email">

                <div class="alert alert-danger mt-3" [hidden]="email.valid || email.pristine">
                    <span *ngIf="email.errors?.['required']">
                        El email es obligatorio
                    </span>
                    <span *ngIf="email.errors?.['email']">
                        El email debe ser válido
                    </span>
                </div>
            </div>

            <button class="btn btn-primary mt-2" [disabled]="">
                Enviar
            </button>
        </form>
    </div>
</div>

<hr>
{{nombre.value}}
{{email.value}}
{{email.errors}}