<h2>Formularios Reactivos</h2>

<div class="card">
    <div class="card-body">

        <form [formGroup]="formUsuario">

            <div class="mb-2">
                <label for="" class="form-label">
                    Nombre:
                </label>

                <!-- formControlName es una directiva de atributo de Angular
                 que se usa para enlazar el campo con un formControl -->
                <input type="text" name="nombre" formControlName="nombre" class="form-control"
                    placeholder="Ingresar nombre">

                <div class="alert alert-danger mt-3" [hidden]="nombre.valid || nombre.pristine">
                    El nombre es obligatorio
                </div>
            </div>
            <div class="mb-2">
                <label for="" class="form-label">
                    Email:
                </label>

                <input type="email" name="email" formControlName="email" class="form-control"
                    placeholder="Ingresar email">

                <div class="alert alert-danger mt-3" [hidden]="email.valid || email.pristine">
                    <span *ngIf="email.errors?.['required']">
                        El email es obligatorio
                    </span>
                    <span *ngIf="email.errors?.['email']">
                        El email debe ser válido
                    </span>
                </div>
            </div>

            <button class="btn btn-primary mt-2" [disabled]="formUsuario.invalid">
                Enviar
            </button>
        </form>
    </div>
</div>

<hr>

{{formUsuario.value | json}}<br>
{{formUsuario.get('nombre')?.value | json}}
{{formUsuario.get('email')?.value | json}}